body {
    
    
    font-family: 'Raleway', sans-serif;
}

footer {
    background-color: rgba(203,189,132,255);
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

p {
    font-family: 'Lato', sans-serif;
}

.home2 {
    background-color: #F0EFEB;
    display: flex;
     box-sizing: border-box; 
    border-top: lightgrey 1px solid;
    
}  

.box2 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 8rem;    
}

.box2 h1 {
    
    box-sizing: border-box;
    color: black;
}

.beschreibung1 {
    box-sizing: border-box;
    color: black;
}

.beschreibung2 {
    box-sizing: border-box;
    border-bottom: lightgrey 1px solid;
    color: black;
}

.paypal1 {
    font-family: 'Pacifico', cursive;
    font-size: 1.1rem;
}

.donate {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 7rem;
    padding: 1rem;
    text-align: center;
    background-color: grey;
    box-sizing: border-box;
    max-width: 21rem;
    max-height: 21rem;
    
    opacity: 0.7;
    border-radius: 2%;
    border-style: groove;
}

.paypalImg {
    width: 10rem;
}

.pic7 {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
}

.sternzeichenHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 14rem;
    margin-right: 14rem;
}

a img {
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    margin: 3rem;
    box-shadow: 16px 20px 37px 20px rgb(201, 201, 201);
    border-radius: 50%;
    
}

a img:hover {
    opacity: 0.7;

}
article button {
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    margin: 3rem;
    box-shadow: 16px 20px 37px 20px rgb(201, 201, 201);
    border-radius: 50%;
    
}
article button img{
    height: 14rem;
    width: 14rem;
    object-fit:cover;
    overflow: hidden;
    margin-left: -0.5rem;
    margin-top: -0.2rem;
}

article button:hover {
    opacity: 0.7;

}

.home4 {
    background-color: #F0EFEB;
    grid-column: 1 / 6;
    grid-row: 7 / 9;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

    box-sizing: border-box; 
    border-top: lightgrey 1px solid;
}

.home4 section {
    grid-column: 2 / 5;
    grid-row: auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.home4 h1 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    text-align: center;
}

.home4 p {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    text-align: center;
}

iframe {
    grid-column: 2 / 5;
    grid-row: 3 / 4;

    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: lightgrey 1px solid;
    border-bottom: lightgrey 1px solid;

    box-shadow: 10px 10px 15px silver;
}

.home5 {
    grid-column: 1 / 6;
    grid-row: 9 /11;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

    box-sizing: border-box; 
    border-top: lightgrey 1px solid;
}

.home5 h1 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.home5 p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.home5 form {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
}



.formular {
    width: 65%;
    position: relative;
    color: whitesmoke;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formular input, textarea {
    padding: 15px 15px 15px 75px;
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid #c1c2c1;
    display: block;
    box-sizing: border-box;
    border-radius: 3px;       
}

.foot ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    min-height: 150px;
}

.foot li {
    margin-top: 25px;
}

.modal {
    display:none;
}


  